@import "stylesheet/mixin.scss";

.icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
  fill: var(--select-cl);
  transition: fill 250ms linear;

  &:hover {
    fill: var(--main-text-cl);
  }
}

.remove {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto;
  width: 35px;
  height: 35px;
  border: 3px solid var(--remove-cl);
  border-radius: 50%;
  background-color: var(--faded-cl);
  top: 0;
  right: 0;
  transform: translate(40%, -30%);
}

.removeIcon {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 0 auto;
  fill: var(--remove-cl);

}