@import "stylesheet/mixin.scss";

// .remove{
//   width: 35px;
//   height: 35px;
// }
// .removeIcon {
//   // position: absolute;
//   width: 30px;
//     height: 30px;
//   cursor: pointer;
//   @include mq(mobile-only) {
//     // top: 22px;
//     // left: -15px;
//     background-color: var(--main-bg-cl);
//     border-radius: 50%;
//     fill: #990000;
//   }

//   @include mq(tablet) {
//     fill: #707070;
//     // top: 18px;
//     // left: 5px;
//   }
//   @include mq(desktop) {
//     // top: 50%;
//     // left: 0;
//     transition: fill 250ms linear;
//     // transform: translateY(-50%);

//     &:hover {
//       fill: #4b4b4b;
//     }
//   }
// }

.icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
  // margin-right: 15px;
  fill: var(--select-cl);
  transition: fill 250ms linear;

  &:hover {
    fill: var(--main-text-cl);
  }

}

.remove {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto auto;
  width: 35px;
  height: 35px;
  border: 3px solid var(--remove-cl);
  border-radius: 50%;
  background-color: var(--faded-cl);
  top: 0;
  right: 0;
  transform: translate(40%, -30%);
}

.removeIcon {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 0 auto;
  fill: var(--remove-cl);

}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 280px;
  min-height: 110px;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--main-bg-cl);
}

.text {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  color: var(--accent-cl);
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
}

.btnConfirm {
  display: block;
  min-height: 50px;
  width: 120px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  border: none;
  background-color: var(--accept-cl);
  border-radius: 20px;

  font-family: Circe;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-bg-cl);
}

.btnCancel {
  composes: btnConfirm;
  border: 1px solid var(--accent-cl);
  background-color: var(--main-bg-cl);
  color: var(--accent-cl);
  margin-right: 10px;
}