@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Raleway;
  src: url("../assets/fonts/Raleway/Raleway-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Raleway;
  src: url("../assets/fonts/Raleway/Raleway-Bold.ttf");
  font-weight: 700;
}
