:root {
  --main-text-cl: #000000;
  --main-bg-cl: #ffffff;
  --accent-cl: #4a56e2;
  --accept-cl: #24cca7;
  --reject-cl: #ff6596;

  --input-border-cl: #e0e0e0;
  --input-placeholder-cl: #bdbdbd;
  --secondary-button-cl: #4a56e2;
}
