.enter {
  opacity: 0;
  transform: scale(0.9);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.enterActive {
  opacity: 1;
  transform: scale(1);
  transition: opacity 250ms cubic-bezier(0.34, 1.56, 0.64, 1),
    transform 250ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.exit {
  opacity: 1;
  transform: scale(1);
}

.exitActive {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 250ms cubic-bezier(0.34, 1.56, 0.64, 1),
    transform 250ms cubic-bezier(0.34, 1.56, 0.64, 1);
}
