@import "stylesheet/mixin.scss";

.main {
    display: block;
    width: 280px;
    min-height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid transparent;
    background-color: var(--accept-cl);
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--main-bg-cl);
    transition: color 250ms linear, background-color 250ms linear, border-color 250ms linear, opacity 250ms linear;

    @include mq(tablet) {
        width: 300px;
    }

    &:disabled {
        opacity: 0.5;
    }

    &:hover,
    &:focus {
        outline: none;
        background-color: var(--main-bg-cl);
        color: var(--accept-cl);
        border-color: var(--accept-cl);
    }
}

.secondary {
    composes: main;
    border-color: var(--accent-cl);
    background-color: var(--main-bg-cl);
    color: var(--accent-cl);

    &:hover,
    &:focus {
        outline: none;
        background-color: var(--accent-cl);
        color: var(--main-bg-cl);
        border-color: transparent;
    }
}