.table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 60px;
    border: 1px solid var(--main-text-cl);
    border-radius: 30px;
}

.main{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.item{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    box-shadow: 0px 4px 1px -3px rgba(0, 0, 0, 0.5);
}

.expenses, .incomes{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}

.amountExpenses{
    color: var(--expenses-cl);
}

.amountIncomes {
    color: var(--incomes-cl);
}

.listColor{
    display: flex;
}

.color{
    height: 24px;
    width: 24px;
    margin-right: 15px;
}