@import "stylesheet/mixin.scss";

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 280px;
    height: 60px;
    // border: 1px solid var(--main-text-cl);
    background-color: var(--main-bg-cl);
    border-radius: 30px;
    margin: 0 auto;

    @include mq(tablet) {
        width: 330px;
    }

    @include mq(desktop) {
        width: 400px;
    }
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    font-size: 18px;
    font-weight: 700;
}

.item {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    width: 280px;
    color: var(--main-text-cl);
    box-shadow: 0px 4px 1px -3px rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;

    @include mq(tablet) {
        width: 330px;
    }

    @include mq(desktop) {
        width: 400px;
    }
}

.expenses,
.incomes {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    font-weight: 700;
    width: 280px;
    margin: 0 auto;

    @include mq(tablet) {
        width: 330px;
    }

    @include mq(desktop) {
        width: 400px;
    }
}

.amountExpenses {
    color: var(--reject-cl);
}

.amountIncomes {
    color: var(--accept-cl);
}

.listColor {
    display: flex;
}

.color {
    height: 24px;
    width: 24px;
    margin-right: 15px;
}