@import "stylesheet/_mixin.scss";

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon {
    width: 30px;
    height: 30px;

    @include mq(tablet) {
        width: 40px;
        height: 40px;
    }

}

.title {
    font-family: Poppins,
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji";
    font-weight: 700;
    font-size: 30px;
}