.container {
    position: relative;
    cursor: pointer;

    &::after {
        content: "";
        position: absolute;
        width: 13px;
        height: 13px;
        right: 8px;
        top: 50%;
        transform: rotate(-45deg) translateY(-50%);
        border-left: 1px solid var(--main-text-cl);
        border-bottom: 1px solid var(--main-text-cl);
    }
}

.wrapper {
    position: absolute;
    left: 0;
    top: 110%;
    z-index: 100;
    width: 100%;
}

.list {
    display: grid;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    backdrop-filter: blur(50px);
    overflow: hidden;
}

.item {
    padding: 8px 20px;
    min-height: 44px;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    transition: color 250ms linear, background-color 250ms linear;

    &:hover,
    &:focus {
        outline: none;
        font-weight: 700;
        color: var(--reject-cl);
        background-color: var(--main-bg-cl);
    }
}