@import 'stylesheet/_mixin.scss';

.list {
    display: flex;
    gap: 32px;
    justify-content: center;

    @include mq(tablet) {
        display: grid;
        gap: 12px;
        justify-content: unset;
    }

}

.link {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    color: var(--accent-faded-cl);
    transition: color 250ms linear;


    &:hover,
    &:focus {
        outline: none;
        color: var(--accent-cl);

        & .icon {
            box-shadow: 0px 3px 10px rgba(74, 86, 226, 0.5);
        }

    }
}

.active {
    composes: link;
    color: var(--accent-cl);

}

.icon {
    color: inherit;
    fill: currentColor;
    border-radius: 7px;
    transition: box-shadow 250ms linear;

}