@use "../../stylesheet/mixin" as m;

.form {
  display: flex;
  flex-direction: column;
  padding-top: 107px;
  padding-bottom: 107px;

  @include m.mq(tablet) {
    align-items: center;
    width: 533px;
    min-height: 468px;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 20px;
  }
}

.image {
  width: 10px;
}

.title {
  font-family: Poppins;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  color: var(--main-text-cl);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 60px;
}

.input {
  margin-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 280px;
  border: transparent;
  outline: transparent;
  border-bottom: 1px solid var(--input-border-cl);

  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--accept-cl);

  &::placeholder {
    color: var(--input-placeholder-cl);
  }

  &::placeholder::first-letter {
    text-transform: capitalize;
    color: var(--input-placeholder-cl);
  }

  &:focus {
    border-bottom: 1px solid var(--accept-cl);
  }

  @include m.mq(tablet) {
    width: 410px;
  }
}

.enter {
  width: 280px;
  min-height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: var(--accept-cl);
  border-radius: 20px;

  font-family: Raleway;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-bg-cl);

  @include m.mq(tablet) {
    width: 300px;
  }
}

.login {
  composes: enter;
  margin-bottom: 0;
  border: 1px solid var(--accent-cl);
  background-color: var(--main-bg-cl);
  color: var(--accent-cl);
}

.error {
  color: red;
}
