@import "stylesheet/mixin.scss";

.section {
  min-height: 100vh;

  @include mq(mobile-only) {
    background-color: var(--main-bg-cl);
  }

  @include mq(tablet-only) {
    text-align: center;
  }

  @include mq(tablet) {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  @media screen and (max-height: 500px) and (orientation: landscape) {
    padding-top: 25px;
    padding-bottom: 20px;
  }

  @include mq(desktop) {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 460px;
  text-align: center;

  @include mq(tablet) {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 736px;
    height: 100vh;
  }

  @include mq(tablet-only) {
    @media screen and (orientation: landscape) {
      height: auto;
    }
  }

  @media only screen and (max-height: 500px) and (orientation: landscape) {
    height: auto;
  }

  @include mq(desktop) {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 100vw;
    display: flex;
  }

  @media only screen and (max-width: 1430px) and (min-height: 1430px) and (orientation: portrait) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.wrapper {
  display: inline-block;

  @include mq(mobile-only) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  @media only screen and (max-width: 1279px) and (max-height: 500px) and (orientation: landscape) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

  @include mq(desktop) {
    display: flex;
    margin-left: auto;
    margin-right: 40px;
    margin-bottom: 0px;
    width: 37vw;
    align-items: center;
    justify-content: flex-end;
  }
}

.hero {
  display: inline-block;
  margin-bottom: 50px;
  width: 540px;
  min-height: 250px;

  @include mq(tablet-only) {
    text-align: right;
  }

  @include mq(tablet) {
    background-image: url(../../assets/images/loginPage/frame-tab-1x.png);
    background-image: -webkit-image-set(
      url(../../assets/images/loginPage/frame-tab-1x.webp) 1x
    );
    background-image: image-set(
      url(../../assets/images/loginPage/frame-tab-1x.webp) 1x
    );
    background-repeat: no-repeat;

    @include mq(retina) {
      background-image: url(../../assets/images/loginPage/frame-tab-2x.png);
      background-image: -webkit-image-set(
        url(../../assets/images/loginPage/frame-tab-2x.webp) 2x
      );
      background-image: image-set(
        url(../../assets/images/loginPage/frame-tab-2x.webp) 2x
      );
    }
  }

  @include mq(desktop) {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 0;
    height: 493px;
    width: 436px;
    background-image: url(../../assets/images/loginPage/frame-desk-1x.png);
    background-image: -webkit-image-set(
      url(../../assets/images/loginPage/frame-desk-1x.webp) 1x
    );
    background-image: image-set(
      url(../../assets/images/loginPage/frame-desk-1x.webp) 1x
    );

    @include mq(retina) {
      background-image: url(../../assets/images/loginPage/frame-desk-2x.png);
      background-image: -webkit-image-set(
        url(../../assets/images/loginPage/frame-desk-2x.webp) 2x
      );
      background-image: image-set(
        url(../../assets/images/loginPage/frame-desk-2x.webp) 2x
      );
    }
  }
}

.title {
  display: inline-block;
  padding-top: 107px;
  padding-right: 50px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;

  @include mq(desktop) {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.form {
  display: inline-block;

  @include mq(mobile-only) {
    padding-top: 107px;
    padding-bottom: 107px;
  }

  @include mq(tablet-only) {
    height: auto;
  }

  @include mq(desktop) {
    display: flex;
    width: 57vw;
    justify-content: center;
    align-items: center;
    background: var(--authPage-secondary-bg-cl);
    backdrop-filter: blur(50px);
  }
}
