.wrapBtn {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    gap: 10px;

}

.btn {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    transition: transform 250ms linear;

    &:focus,
    &:hover {
        transform: scale(1.2);
    }
}