.removeIcon {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 0 auto;
  fill: var(--remove-cl);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 280px;
  min-height: 110px;
  border-radius: 20px;
  padding: 20px;
  background-color: var(--main-bg-cl);
}

.text {
  display: block;
  margin-bottom: 30px;
  font-size: 14px;
  color: var(--accent-cl);
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
}

.btnConfirm {
  display: block;
  min-height: 50px;
  width: 120px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  border: none;
  background-color: var(--accept-cl);
  border-radius: 20px;

  font-family: Circe;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-bg-cl);
}

.btnCancel {
  composes: btnConfirm;
  border: 1px solid var(--accent-cl);
  background-color: var(--main-bg-cl);
  color: var(--accent-cl);
  margin-right: 10px;
}
